<template name="findOneModifyOptions">
    {{#if isOptionSelected "PROJECTION"}}
        {{> project}}
    {{/if}}
    {{#if isOptionSelected "SORT"}}
        {{> sort}}
    {{/if}}
    {{#if isOptionSelected "UPSERT"}}
        {{> upsert}}
    {{/if}}
    {{#if isOptionSelected "RETURN_ORIGINAL"}}
        {{> returnOriginal}}
    {{/if}}
    {{#if isOptionSelected "MAX_TIME_MS"}}
        {{> maxTimeMs}}
    {{/if}}
    {{#if isOptionSelected "ARRAY_FILTERS"}}
        {{> arrayFilters}}
    {{/if}}
</template>