{
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "tabWidth": 2,
  "printWidth": 180,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "jsxSingleQuote": true
}
