<template name="maxTimeMs">
    <div class="form-group">
        <label class="col-lg-1 control-label">{{_ "max_time_ms"}}</label>
        <div class="col-lg-11">
            <input id="inputMaxTimeMs" value=""
                   data-required="true"
                   min="1"
                   type="number"
                   placeholder="Max time as milliseconds"
                   class="form-control">
            <span class="help-block m-b-none">{{{_ "max_time_ms_info"}}}</span>
        </div>
    </div>
</template>