<template name="maxTimeMs">
    <div class="form-group">
        <label class="col-lg-1 control-label">MaxTimeMS</label>
        <div class="col-lg-11">
            <input id="inputMaxTimeMs" value=""
                   data-required="true"
                   min="1"
                   type="number"
                   placeholder="Max time as milliseconds"
                   class="form-control">
            <span class="help-block m-b-none"><b>MongoDB interrupts</b> the operation at the earliest following interrupt point.</span>
        </div>
    </div>
</template>