.git
.meteor/local
packages/*/.build*
packages/*/.npm*
.github
node_modules
.cfignore
.codeclimate.yml
.eslintignore
.eslintrc
.travis.yml
app.json
HISTORY.MD
LICENSE
README.md
manifest.yml.sample
ROADMAP.MD