extends:
  eslint:recommended

rules:
  no-alert
  camelcase
  no-duplicate-imports
  no-useless-constructor

parserOptions:
  sourceType: module

ecmaFeatures:
  modules: true
  jsx: true

env:
  amd: true
  browser: true
  es6: true
  jquery: true
  node: true
