extends:
  airbnb

rules:
  import/extensions: 0
  import/no-unresolved: 0
  import/no-extraneous-dependencies: 0
  no-useless-escape: 0
  import/no-absolute-path: 0
  no-param-reassign: 0
  max-len: [2, 200, 4]
  no-underscore-dangle: 0
  func-names: 0
  comma-dangle: 0
  object-curly-newline: 0
  consistent-return: 0

parserOptions:
  ecmaVersion: 6
  sourceType: module

env:
  amd: true
  browser: true
  es6: true
  jquery: true
  node: true
