sudo: false

language: node_js

before_install:
  - curl https://install.meteor.com | /bin/sh
  - export PATH="$HOME/.meteor:$PATH"

script:
  - meteor build $HOME/build.tgz

cache:
  directories:
    - node_modules

before_script:
  - meteor npm install

script:
  - meteor add practicalmeteor:mocha
  - meteor test --driver-package practicalmeteor:mocha
