<template name="addUserOptions">
    {{#if isOptionSelected "CUSTOM_DATA"}}
        {{> customData}}
    {{/if}}
    {{#if isOptionSelected "ROLES"}}
        {{> roles}}
    {{/if}}
</template>

<template name="customData">
    <div class="form-group">
        <label class="col-lg-1 control-label">{{_ "custom_data"}}</label>
        <div id="divCustomData" class="col-lg-11">
            <textarea id="txtCustomData" class="form-control"></textarea>
            <span class="help-block m-b-none">{{{_ "custom_data_help_block"}}}</span>
        </div>
    </div>
</template>

<template name="roles">
    <div class="form-group">
        <label class="col-lg-1 control-label">{{_ "roles"}}</label>
        <div id="divRoles" class="col-lg-11">
            <textarea id="txtRoles" class="form-control"></textarea>
            <span class="help-block m-b-none">{{{_ "roles_info"}}}</span>
        </div>
    </div>
</template>