<template name="createIndexOptions">
    {{#if isOptionSelected "NAME"}}
        {{> indexName}}
    {{/if}}
    {{#if isOptionSelected "UNIQUE"}}
        {{> unique}}
    {{/if}}
    {{#if isOptionSelected "SPARSE"}}
        {{> sparse}}
    {{/if}}
    {{#if isOptionSelected "BACKGROUND"}}
        {{> background}}
    {{/if}}
    {{#if isOptionSelected "MAX"}}
        {{> max}}
    {{/if}}
    {{#if isOptionSelected "MIN"}}
        {{> min}}
    {{/if}}
    {{#if isOptionSelected "EXPIRE_AFTER_SECONDS"}}
        {{> expireAfterSeconds}}
    {{/if}}
    {{#if isOptionSelected "DROP_DUPS"}}
        {{> dropDups}}
    {{/if}}
    {{#if isOptionSelected "COLLATION"}}
        {{> collation}}
    {{/if}}
</template>

<template name="dropDups">
    <div class="form-group">
        <label class="col-lg-1 control-label">Drop Dups</label>
        <div class="col-lg-11">
            <div id="divDropDups" class="i-checks">
                <input type="checkbox" value=""
                       class="form-control"
                       checked=""
                       style="position: absolute; opacity: 0;"/>
                <span class="help-block m-b-none">A unique index cannot be created on a key that has pre-existing duplicate values. If you would like to create the index anyway,
                    keeping the first document the database indexes and deleting all subsequent documents that have duplicate value</span>
            </div>
        </div>
    </div>
</template>

<template name="expireAfterSeconds">
    <div class="form-group">
        <label class="col-lg-1 control-label">Expire (Seconds)</label>
        <div class="col-lg-11">
            <input id="inputExpireAfterSeconds" min="0" required="true" type="number" class="form-control">
            <span class="help-block m-b-none">Allows you to expire data on indexes applied to a data <b>MongoDB 2.2 or higher</b></span>
        </div>
    </div>
</template>

<template name="unique">
    <div class="form-group">
        <label class="col-lg-1 control-label">Unique</label>
        <div class="col-lg-11">
            <div id="divUnique" class="i-checks">
                <input type="checkbox" value=""
                       class="form-control"
                       checked=""
                       style="position: absolute; opacity: 0;"/>
            </div>
        </div>
    </div>
</template>

<template name="sparse">
    <div class="form-group">
        <label class="col-lg-1 control-label">Sparse</label>
        <div class="col-lg-11">
            <div id="divSparse" class="i-checks">
                <input type="checkbox" value=""
                       class="form-control"
                       checked=""
                       style="position: absolute; opacity: 0;"/>
            </div>
        </div>
    </div>
</template>

<template name="background">
    <div class="form-group">
        <label class="col-lg-1 control-label">Background</label>
        <div class="col-lg-11">
            <div id="divBackground" class="i-checks">
                <input type="checkbox" value=""
                       class="form-control"
                       checked=""
                       style="position: absolute; opacity: 0;"/>
            </div>
        </div>
    </div>
</template>

<template name="indexName">
    <div class="form-group">
        <label class="col-lg-1 control-label">Index Name</label>
        <div class="col-lg-11">
            <input type="text" class="form-control" id='inputIndexName'/>
            <span class="help-block m-b-none">Override the autogenerated index name (useful if the resulting name is larger than 128 bytes)</span>
        </div>
    </div>
</template>