<template name="insertMany">
    <div class="form-group">
        <label class="col-lg-1 control-label">Docs</label>
        <div class="col-lg-11">
            <pre class="form-control" style="height: 150px" id='aceDocs'></pre>
            <span class="help-block m-b-none">You can use <strong>string</strong> to query <strong>ISODate</strong> and <strong>ObjectID</strong>, date format is <strong>YYYY-MM-DD
                HH:mm:ss</strong><br/>Furthermore, you can provide an <strong>array</strong> to insert <strong>multiple</strong> docs, or an <strong>object</strong> for <strong>single</strong> one</span>
        </div>
    </div>
</template>