<template name="mapReduceOptions">
    {{#if isOptionSelected "OUT"}}
        {{> out}}
    {{/if}}
    {{#if isOptionSelected "QUERY"}}
        {{> selector}}
    {{/if}}
    {{#if isOptionSelected "SORT"}}
        {{> sort}}
    {{/if}}
    {{#if isOptionSelected "LIMIT"}}
        {{> limit}}
    {{/if}}
    {{#if isOptionSelected "FINALIZE"}}
        {{> finalize}}
    {{/if}}
    {{#if isOptionSelected "SCOPE"}}
        {{> scope}}
    {{/if}}
    {{#if isOptionSelected "VERBOSE"}}
        {{> verbose}}
    {{/if}}
    {{#if isOptionSelected "BYPASS_DOCUMENT_VALIDATION"}}
        {{> bypassDocumentValidation}}
    {{/if}}
</template>

<template name="out">
    <div class="form-group">
        <label class="col-lg-1 control-label">Out</label>
        <div id="divOut" class="col-lg-11">
            <textarea id="txtOut" class="form-control"></textarea>
            <span class="help-block m-b-none">Example: <i>{inline:1} | {replace:'collectionName'} | {merge:'collectionName'} |
                {reduce:'collectionName'}</i></span>
        </div>
    </div>
</template>

<template name="finalize">
    <div class="form-group">
        <label class="col-lg-1 control-label">Finalize</label>
        <div id="divFinalize" class="col-lg-11">
            <textarea id="txtFinalize" class="form-control"></textarea>
            <span class="help-block m-b-none">Please provide a valid function which starts with <strong>function</strong> keyword</span>
        </div>
    </div>
</template>

<template name="scope">
    <div class="form-group">
        <label class="col-lg-1 control-label">Scope</label>
        <div id="divScope" class="col-lg-11">
            <textarea id="txtScope" class="form-control"></textarea>
        </div>
    </div>
</template>

<template name="verbose">
    <div class="form-group">
        <label class="col-lg-1 control-label">Verbose</label>
        <div class="col-lg-11">
            <div id="divVerbose" class="i-checks">
                <input id="inputVerbose" type="checkbox" value=""
                       class="form-control"
                       checked=""
                       style="position: absolute; opacity: 0;"/>
            </div>
        </div>
    </div>
</template>