<template name="cursorOptions">
    {{#if isOptionSelected "PROJECT"}}
        {{> project}}
    {{/if}}
    {{#if isOptionSelected "LIMIT"}}
        {{> limit}}
    {{/if}}
    {{#if isOptionSelected "SKIP"}}
        {{> skip}}
    {{/if}}
    {{#if isOptionSelected "SORT"}}
        {{> sort}}
    {{/if}}
    {{#if isOptionSelected "MAX"}}
        {{> max}}
    {{/if}}
    {{#if isOptionSelected "MIN"}}
        {{> min}}
    {{/if}}
    {{#if isOptionSelected "MAX_TIME_MS"}}
        {{> maxTimeMs}}
    {{/if}}
</template>