.hide_column {
    display: none;
}

tr.selected {
    background-color: #E6E4E4 !important;
}

.modal-dialog {
    width: 1000px !important;
}

.table.dataTable {
    width: 100% !important;
}

div.dataTables_wrapper div.dataTables_processing {
    visibility: hidden;
}