.hide_column {
    display: none;
}

tr.selected {
    background-color: #E6E4E4 !important;
}

/*.modal-dialog {*/
/*width: 1000px !important;*/
/*}*/

.tab-pane {
    margin-top: 10px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
}

#btnManageRoles, #btnEditUser, #btnManageUsers, #btnExecuteAggregatePipeline, #btnExportQueryResult {
    margin-bottom: 0 !important;
}

.modal-background {
    background: #f8fafb !important;
}

.chosen-container {
    width: 100% !important;
}

#remove-stage-element {
    margin-bottom: 5px;
}

.CodeMirror {
    width: 100%;
}