<template name="fileManagement">
    {{> pageHeading title='File Management' }}

    {{#if isConnected}}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>File management for {{getConnection.name}}</h5>
                        </div>
                        <div class="ibox-content">

                        </div>
                        <div class="ibox-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

</template>