<template name="fileManagement">
    {{> pageHeading title='File Management' }}

    {{#if isConnected}}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>File management for {{getConnection.name}}</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group"><label class="col-sm-2 control-label">Bucket Name</label>
                                <div class="col-sm-10"><input type="text" class="form-control" value="fs"></div>
                            </div>
                            {{> ReactiveDatatable tableData=getFiles options=filesTableOptions tableId="tblFiles" }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

</template>