<template name="cursorOptions">
    {{#if isSelected "PROJECT"}}
        {{> project}}
    {{/if}}
    {{#if isSelected "SKIP"}}
        {{> skip}}
    {{/if}}
    {{#if isSelected "LIMIT"}}
        {{> limit}}
    {{/if}}
    {{#if isSelected "MAX"}}
        {{> max}}
    {{/if}}
    {{#if isSelected "MIN"}}
        {{> min}}
    {{/if}}
    {{#if isSelected "SORT"}}
        {{> sort}}
    {{/if}}
</template>

<template name="project">
    <div class="form-group">
        <label class="col-lg-1 control-label">$project</label>
        <div class="col-lg-11">
            <pre class="form-control" id='aceProject'></pre>
        </div>
    </div>
</template>

<template name="skip">

</template>

<template name="limit">

</template>

<template name="max">

</template>

<template name="min">

</template>

<template name="sort">

</template>