<template name="insertManyOptions">
    {{#if isOptionSelected "BYPASS_DOCUMENT_VALIDATION"}}
        {{> bypassDocumentValidation}}
    {{/if}}

    {{#if isOptionSelected "SERIALIZE_FUNCTIONS"}}
        {{> serializeFunctions}}
    {{/if}}
</template>

<template name="serializeFunctions">
    <div class="form-group">
        <label class="col-lg-1 control-label">{{_ "serialize_funcs"}}
        </label>
        <div id="divSerializeFunctions" class="col-lg-11">
            <input id="inputSerializeFunctions" type="checkbox"
                   class="form-control"
                   checked=""
                   style="position: absolute; opacity: 0;"/>
            <span class="help-block m-b-none">{{{_ "serialize_funcs_info"}}}</span>
        </div>
    </div>
</template>