<template name="topNavbar">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a id="navbar-minimalize" class="minimalize-styl-2 btn btn-primary " href="#"><i
                        class="fa fa-bars"></i>
                </a>
                <form role="search" class="navbar-form-custom">
                    <div class="form-group">
                        <input type="text" disabled="true" placeholder=""
                               class="form-control"
                               name="top-search"
                               id="top-search">
                    </div>
                </form>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-chevron-circle-down"></i> {{_ "more"}}
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        {{#if isConnected}}
                            <li>
                                <a id="btnSwitchDatabase" href="">
                                    <i class="fa fa-database"></i> {{_ "switch_database"}}
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li><a id="btnRefreshCollections2" href="#"><i class="fa fa-refresh"></i> {{_ "refresh_collections"}}</a></li>
                            <li class="divider"></li>
                        {{/if}}
                        <li>
                            <a href="{{pathFor route="settings"}}">
                                <i class="fa fa-gears"></i> {{_ "settings"}}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a id="btnImportMongoclient">
                                <i class="fa fa-download"></i> {{_ "import_nosqlclient_data"}}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a id="btnExportMongoclient">
                                <i class="fa fa-upload"></i> {{_ "export_nosqlclient_data"}}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a id="btnAboutMongoclient" href="">
                                <i class="fa fa-globe"></i> {{_ "about"}}
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    {{#if isConnected}}
                        <a id="btnDisconnect" href="#">
                            <i class="fa fa-sign-out"></i> {{_ "disconnect"}}
                        </a>
                    {{else}}
                        <a id="btnConnectionList" href="#" data-toggle="modal" data-target="#connectionModal">
                            <i class="fa fa-sign-in"></i> {{_ "connect"}}
                        </a>
                    {{/if}}
                </li>
            </ul>
        </nav>
    </div>


    <!-- MODAL About-->
    <div class="modal inmodal" id="aboutModal" tabindex="-1" role="dialog" aria-hidden="true"
         style="display: none;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content animated bounceInRight">
                <div style="background-color: #F4F4F6" class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">{{_ "close"}}</span></button>
                    <img width="80" height="110" src="logo/new/image_only.png" class="modal-icon"/>
                    <h4 class="modal-title">Nosqlclient</h4>
                    <huge class="font-bold">
                        {{{_ "about_text"}}}
                    </huge>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL Import/Export Mongoclient-->
    <div class="modal inmodal" id="importExportMongoclientModal" tabindex="-1" role="dialog" aria-hidden="true"
         style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">{{_ "close"}}</span></button>
                    <i id="importExportMongoclientIcon" class="fa fa-download modal-icon"></i>
                    <h4 id="importExportMongoclientTitle" class="modal-title">{{_ "import_nosqlclient_data"}}</h4>
                </div>
                <div class="modal-body">
                    <form id="frmImportMongoclient" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">{{_ "backup_file"}}</label>
                            <div class="col-lg-9">
                                <input class="form-control filestyle" type="file" id="inputImportBackupFile"
                                       data-buttonName="btn-primary">
                                <span class="help-block m-b-none">{{{_ "backup_file_info"}}}</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        <button type="button" class="btn btn-white" data-dismiss="modal">{{_ "close"}}</button>
                    </div>
                    <button id="btnProceedImportExport" title="{{_ "import"}}" type="button"
                            class="btn btn-primary ladda-button" data-style="contract">{{_ "import"}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL Switch Database-->
    <div class="modal inmodal" id="switchDatabaseModal" tabindex="-1" role="dialog" aria-hidden="true"
         style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">{{_ "close"}}</span></button>
                    <i class="fa fa-database modal-icon"></i>
                    <h4 class="modal-title">{{_ "databases"}}</h4>
                </div>
                <div class="modal-body">
                    <table id="tblSwitchDatabases"
                           class="table table-striped table-bordered table-hover dataTables-example dataTable"
                           style="width: 100%">
                        <thead>
                        <tr>
                            <th>{{_ "db_name"}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">{{_ "db_name"}}</label>
                            <div class="col-lg-10">
                                <input id="inputDatabaseNameToSwitch" required="true"
                                       type="text"
                                       placeholder="{{_ "db_name"}}" class="form-control">
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        <button type="button" class="btn btn-white" data-dismiss="modal">{{_ "close"}}</button>
                    </div>
                    <button id="btnConnectSwitchedDatabase" title="{{_ "connect"}}" type="button" disabled="true"
                            class="btn btn-primary ladda-button" data-style="contract">{{_ "connect"}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    {{> connections}}

</template>
