<template name="distinct">
    <div class="form-group">
        <label class="col-lg-1 control-label">Selector</label>
        <div class="col-lg-11">
            <pre class="form-control" id='aceSelector'></pre>
            <span class="help-block m-b-none">You can use <strong>string</strong> to query <strong>ISODate</strong> and <strong>ObjectID</strong>, date format is <strong>YYYY-MM-DD
                HH:mm:ss</strong></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-1 control-label">Field</label>
        <div class="col-lg-11">
            <input type="text" class="form-control" id='inputField'/>
            <span class="help-block m-b-none">Field of the document to find <strong>distinct</strong> values for.</span>
        </div>
    </div>
</template>