<template name="browseCollection">
    {{#if getSelectedCollection}}
        {{> pageHeading title=getSelectedCollection }}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Query
                                <small></small>
                            </h5>
                            <div class="ibox-tools">
                                <button id="btnExportQueryResult" type="button" class="btn btn-sm btn-primary"
                                        data-target="#exportQueryResultModal"
                                        data-toggle="modal"
                                        style="display: none">Export Result
                                </button>

                                <a id="btnSwitchView" href="#"
                                   title="Switch Result View">
                                    <i class="fa fa-exchange"></i>
                                </a>
                                <a id="btnShowQueryHistories" href="#"
                                   title="Show Query Histories">
                                    <i class="fa fa-history"></i>
                                </a>
                                <a id="aConvertIsoDates" class="i-checks"
                                   style="display: none;"
                                   data-toggle="tooltip"
                                   title="Enable/Disable YYYY-MM-DD HH:MM:ss formatted strings to ISODate conversion">
                                    <input id="inputConvertIsoDates" type="checkbox" value=""
                                           class="form-control"
                                           checked=""
                                           style="position: absolute; opacity: 0;"/>
                                </a>
                                <a id="aConvertObjectIds" class="i-checks"
                                   style="display: none;"
                                   data-toggle="tooltip"
                                   title="Enable/Disable valid ObjectID strings to ObjectID conversion">
                                    <input id="inputConvertObjectIDs" type="checkbox" value=""
                                           class="form-control"
                                           checked=""
                                           style="position: absolute; opacity: 0;"/>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-lg-1 control-label">Query</label>
                                    <div class="col-lg-11">
                                        <select id="cmbQueries"
                                                data-placeholder="Choose a query..."
                                                class="chosen-select form-control"
                                                tabindex="-1">
                                            <option></option>
                                        </select>
                                        <span class="help-block m-b-none">{{getHelpBlockForSelectedQuery}}</span>
                                    </div>
                                </div>

                                {{> Template.dynamic template=getQueryTemplate}}

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <button id="btnExecuteQuery"
                                                class="btn btn-block btn-outline btn-primary ladda-button" type="button"
                                                data-style="contract"><strong>Execute</strong></button>
                                    </div>
                                </div>
                                <ul id="resultTabs" class="nav nav-tabs">
                                </ul>
                                <div id="resultTabContents" class="tab-content">
                                </div>
                            </form>
                        </div>

                        <div class="ibox-footer" id="divBrowseCollectionFooter" style="display: none;">
                            <div class="row">
                                <div class="col-lg-6">
                                    <button id="btnSaveFindFindOne"
                                            class="btn btn-block btn-outline btn-primary ladda-button"
                                            type="button"
                                            data-style="contract">
                                        <strong>Save</strong></button>
                                </div>
                                <div class="col-lg-6">
                                    <button id="btnDelFindFindOne"
                                            class="btn btn-block btn-outline btn-primary ladda-button"
                                            type="button"
                                            data-style="contract">
                                        <strong>Delete</strong></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{> queryHistories}}

        <!-- MODAL Export Query Result-->
        <div class="modal inmodal" id="exportQueryResultModal" tabindex="-1" role="dialog" aria-hidden="true"
             style="display: none;">
            <div class="modal-dialog modal-sm">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title">Choose Format</h4>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-left">
                            <button id="btnExportAsCSV" type="button" class="btn btn-primary" data-dismiss="modal">CSV
                            </button>
                        </div>
                        <div class="pull-right">
                            <button id="btnExportAsJSON" type="button" class="btn btn-primary" data-dismiss="modal">
                                JSON
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</template>