<template name="geoHaystackSearchOptions">
    {{#if isOptionSelected "SEARCH"}}
        {{> search}}
    {{/if}}
    {{#if isOptionSelected "MAX_DISTANCE"}}
        {{> maxDistance}}
    {{/if}}
    {{#if isOptionSelected "LIMIT"}}
        {{> limit}}
    {{/if}}
</template>

<template name="search">
    <div class="form-group">
        <label class="col-lg-1 control-label">Search</label>
        <div class="col-lg-11">
            <pre class="form-control" id='aceSearch'></pre>
            <span class="help-block m-b-none">You can use <strong>string</strong> to query <strong>ISODate</strong> and <strong>ObjectID</strong>, date format is <strong>YYYY-MM-DD
                HH:mm:ss</strong></span>
        </div>
    </div>
</template>