<template name="findOneAndUpdate">
    {{> selector}}

    <div class="form-group">
        <label class="col-lg-1 control-label">Set</label>
        <div class="col-lg-11">
            <pre class="form-control" id='aceSet'></pre>
            <span class="help-block m-b-none">You can use <strong>string</strong> to query <strong>ISODate</strong> and <strong>ObjectID</strong>, date format is <strong>YYYY-MM-DD
                HH:mm:ss</strong></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-1 control-label">Options</label>
        <div class="col-lg-11">
            <select id="cmbFindOneModifyOptions"
                    data-placeholder="Choose one or more options.."
                    multiple="true"
                    class="chosen-select form-control"
                    tabindex="-1">
            </select>
        </div>
    </div>

    {{> findOneModifyOptions}}

</template>