<head>
    <meta charset="utf-8">
    <title>MongoClient | Featured MongoDB Client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="logo/head_7.png" rel="shortcut icon" type="image/x-icon">
    <script type="text/javascript">
        var h = document.getElementsByTagName('head')[0];
        (function () {
            var fc = document.createElement('link');
            fc.type = 'text/css';
            fc.rel = 'stylesheet';
            fc.href = 'https://product.feedbacklite.com/feedbacklite.css';
            h.appendChild(fc);
        })();
        var fbl = {'campaign': {'id': 1337, 'type': 2, 'size': 2, 'position': 10, 'tab': 2, 'control': 1}};
        (function () {
            var fj = document.createElement('script');
            fj.type = 'text/javascript';
            fj.async = true;
            fj.src = 'https://product.feedbacklite.com/feedbacklite.js';
            h.appendChild(fj);
        })();
    </script>
</head>
