<template name="aggregateOptions">
    {{#if isOptionSelected "COLLATION"}}
        {{> collation}}
    {{/if}}

    {{#if isOptionSelected "BYPASS_DOCUMENT_VALIDATION"}}
        {{> bypassDocumentValidation}}
    {{/if}}

    {{#if isOptionSelected "MAX_TIME_MS"}}
        {{> maxTimeMs}}
    {{/if}}

    {{#if isOptionSelected "ALLOW_DISK_USE"}}
        {{> allowDiskUse}}
    {{/if}}

    {{#if isOptionSelected "EXPLAIN"}}
        {{> explain}}
    {{/if}}

    {{#if isOptionSelected "COMMENT"}}
        {{> comment}}
    {{/if}}
</template>

<template name="comment">
    <div class="form-group">
        <label class="col-lg-1 control-label">{{_ "comment"}}</label>
        <div class="col-lg-11">
            <input id="inputComment" type="text" placeholder="Enter comment" class="form-control">
        </div>
    </div>
</template>

<template name="allowDiskUse">
    <div class="form-group">
        <label class="col-lg-1 control-label">{{_ "use_disk"}}</label>
        <div class="col-lg-11">
            <div id="divAllowDiskUse" class="i-checks">
                <input id="inputAllowDiskUse" type="checkbox" value=""
                       class="form-control"
                       checked=""
                       style="position: absolute; opacity: 0;"/>
            </div>
        </div>
    </div>
</template>