<template name="bypassDocumentValidation">
    <div class="form-group">
        <label class="col-lg-1 control-label">Bypass</label>
        <div class="col-lg-11">
            <div id="divBypassDocumentValidation" class="i-checks">
                <input id="inputBypassDocumentValidation" type="checkbox" value=""
                       class="form-control"
                       checked=""
                       style="position: absolute; opacity: 0;"/>
            </div>
        </div>
    </div>
</template>