<template name="queryWizard">
    <div class="modal inmodal" id="queryWizardModal" tabindex="-1" role="dialog" aria-hidden="true"
         style="display: none;">
        <div class="modal-dialog">
            <div class="query-wizard fadeInRight animated active">
                <div class="heading" draggable="true">
                    Query Wizard
                </div>
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 234px;">
                    <div class="content" style="overflow: hidden; width: auto; height: 234px;">

                        <div class="left">
                            <div class="author-name">
                                Mongoclient
                            </div>
                            <div class="chat-message active">
                                Hello, what kind of a query would you like to do ?
                            </div>

                        </div>
                        <div class="right">
                            <div class="author-name">
                                Me
                            </div>
                            <div class="chat-message">
                                Hmm...
                            </div>
                        </div>

                    </div>
                    <div class="slimScrollBar"
                         style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 164.928px;"></div>
                    <div class="slimScrollRail"
                         style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.4; z-index: 90; right: 1px;"></div>
                </div>
                <div class="form-chat">
                    <div class="input-group input-group">
                        <select id="cmbQueryWizardResponses"
                                data-placeholder="Choose one"
                                class="chosen-select form-control"
                                tabindex="-1">
                            <option></option>
                        </select>
                        <span class="input-group-btn"> <button id="btnQueryWizardRespond" class="btn btn-primary" type="button">Send
                </button> </span></div>
                </div>

            </div>
        </div>
    </div>
</template>