<template name="geoHaystackSearchOptions">
    {{#if isOptionSelected "SEARCH"}}
        {{> search}}
    {{/if}}
    {{#if isOptionSelected "MAX_DISTANCE"}}
        {{> maxDistance}}
    {{/if}}
    {{#if isOptionSelected "LIMIT"}}
        {{> limit}}
    {{/if}}
</template>

<template name="search">
    <div class="form-group">
        <label class="col-lg-1 control-label">{{_ "search"}}</label>
        <div id="divSearch" class="col-lg-11">
            <textarea id="txtSearch" class="form-control"></textarea>
        </div>
    </div>
</template>