.hide_column {
  display: none;
}

tr.selected {
  background-color: #e6e4e4 !important;
}

/*.modal-dialog {*/
/*width: 1000px !important;*/
/*}*/

.tab-pane {
  margin-top: 10px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
}

#btnManageRoles,
#btnEditUser,
#btnManageUsers,
#btnExecuteAggregatePipeline,
#btnExportQueryResult,
#btnClearShell,
#btnRefreshStoredFunctions,
#btnShowShellHistories,
#btnAggregateHistory {
  margin-bottom: 0 !important;
}

.modal-background {
  background: #f8fafb !important;
}

.chosen-container {
  width: 100% !important;
}

#remove-stage-element {
  margin-bottom: 5px;
}

.CodeMirror {
  width: 100%;
}

.context-menu-icon::before {
  color: #1ab394 !important;
}

.context-menu-icon.context-menu-icon--fa::before {
  color: #1ab394 !important;
}

.context-menu-item.context-menu-hover {
  color: #1ab394 !important;
}

.context-menu-item {
  padding: 0.5em 2em !important;
}

.blue-font {
  color: #0000cc !important;
}

.query-wizard {
  display: none;
  background: #fff;
  width: 100%;
  height: 320px;
  border-radius: 4px;
}

.query-wizard.ng-small-chat {
  display: block;
}

.body-small .query-wizard {
  bottom: 70px;
  right: 20px;
}

.query-wizard.active {
  display: block;
}

.query-wizard .heading {
  background: #2f4050;
  padding: 8px 15px;
  font-weight: bold;
  color: #fff !important;
}

.query-wizard .content {
  padding: 15px 15px;
}

.query-wizard .content .author-name {
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 11px;
}

.query-wizard .content > div {
  padding-bottom: 20px;
}

.query-wizard .content .chat-message {
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 12px;
  line-height: 14px;
  max-width: 80%;
  background: #f3f3f4;
  margin-bottom: 10px;
}

.query-wizard .content .chat-message.active {
  background: #1ab394;
  color: #fff;
}

.query-wizard .content .left {
  text-align: left;
  clear: both;
}

.query-wizard .content .left .chat-message {
  float: left;
}

.query-wizard .content .right {
  text-align: right;
  clear: both;
}

.query-wizard .content .right .chat-message {
  float: right;
}

.query-wizard .form-chat {
  padding-left: 5px;
  padding-right: 5px;
}

.query-wizard .reset-chat {
  cursor: pointer;
  opacity: 0.6;
  font-size: 11px;
  font-weight: normal;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.index-button,
.index-button:hover,
.index-button:active,
.index-button:focus,
.index-button:active:focus {
  background-color: #f442cb;
  color: #ffffff;
}

.ace_text-input {
  position: absolute !important;
}

.colorpicker,
.colorpicker * {
  z-index: 99999999999;
}
