<template name="validationRules">
    <div class="modal inmodal" id="validationRulesModal" tabindex="-1" role="dialog" aria-hidden="true"
         style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">{{_ "close"}}</span></button>
                    <h4 class="modal-title">{{_ "validation_rules"}}</h4>
                    <small id="spanCollectionNameValidationRules" class="font-bold"></small>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">{{_ "validation_action"}}</label>
                            <div class="col-lg-10">
                                <select id="cmbValidationAction"
                                        data-placeholder="{{_ "leave_empty_for_no_action"}}"
                                        class="chosen-select form-control"
                                        tabindex="-1">
                                    <option></option>
                                    <option value="warn">{{_ "warning"}}</option>
                                    <option value="error">{{_ "error"}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">{{_ "validation_level"}}</label>
                            <div class="col-lg-10">
                                <select id="cmbValidationLevel"
                                        data-placeholder="{{_ "leave_empty_for_no_level"}}"
                                        class="chosen-select form-control"
                                        tabindex="-1">
                                    <option></option>
                                    <option value="off">{{_ "off"}}</option>
                                    <option value="strict">{{_ "strict"}}</option>
                                    <option value="moderate">{{_ "moderate"}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">{{_ "validator"}}</label>
                            <div id="divValidator" class="col-lg-10">
                                                <textarea id="txtValidator"
                                                          class="form-control"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        <button type="button" class="btn btn-white" data-dismiss="modal">{{_ "close"}}</button>
                    </div>
                    <button id="btnSaveValidationRules" data-style="contract" type="button"
                            class="btn btn-primary ladda-button">{{_ "save"}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>